body {

}
.band {
	display: flex;
  flex-wrap: wrap;
}

.two{
	flex: 1;
	display: flex;
	flex-direction: column;
	min-width: 300px;
	h5 {
		font-size: 3em;
	}
}
.three{
	flex: 8;
	display: flex;
	flex-direction: column;
	padding: 20px 20px 20px;
	min-width: 400px;
	a, a:visited {
	  color: #D0A059;
	  font-size: 1.2em;
	}
}
.three-b{
	display: flex;

}
.votes{
	display: flex;
	flex-direction: column;
	flex: 1;
	padding-right: 50px;
	p {
	text-align: center;
	}
}
.definitions{
	flex: 6;
}
h4 {
	font-family: 'Montserrat Subrayada', sans-serif;

}
h5 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
h6 {
	padding: 3px;
  color: #909090;
  font-size: 14px;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.centered {
	align-items: center;
  justify-content: center;
}
.vert-centered {
	align-items: center;
}
.horiz-centered {
	justify-content: center;
}
.box {
	display: flex;
	flex-direction: column;
	margin: 30px 0 20px;
	width: 100%;
	form, box-2 {
		width: 100%;
	}
}

.form-inline .form-control {
	flex: 1;
	}
.box-1{
	flex: 1;
	order: 2;
}
.box-2{
	flex: 2;
	order: 1;
	margin-right: 60px;
}
.links {
  display: inline-block;
  padding: 3px;
  color: #909090;
  font-size: 14px;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.attribute {
  padding: 3px;
  color: #909090;
  font-size: 14px;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  display: inline-block;
}
.navbar {
	background-color:  #F5F5F5;
}

.honeycomb{
	height: 5px;
	background:
	radial-gradient(circle farthest-side at 0% 50%,#fb1 23.5%,rgba(240,166,17,0) 0)21px 30px,
	radial-gradient(circle farthest-side at 0% 50%,#B71 24%,rgba(240,166,17,0) 0)19px 30px,
	linear-gradient(#fb1 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#fb1 0)0 0,
	linear-gradient(150deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
	linear-gradient(30deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
	linear-gradient(90deg,#B71 2%,#fb1 0,#fb1 98%,#B71 0%)0 0 #fb1;
	background-size:20px 30px;
	background-position: 0 -3px;
	opacity: 0.7;
	margin-bottom: 20px;

}
nav div {
	min-width: 180px;
	margin-right: 40px;
	padding-left: 30px;
	h5{
		font-size: 2em;
		color: #FFD059;
	}
	.sub {
		padding-left: 20px;
		font-size: .7em;
		margin-top: 0;
	}
	a, a:visited {
  color: black;
	}
}
.nav-brand {
	display: flex;
	flex-direction: column;
}

button, input, optgroup, select, textarea, .nav-link {
	font-family: 'Yanone Kaffeesatz', sans-serif !important;
}
.nav-link {
	font-size: 1.5em;
}
@media only screen and (min-width: 992px){
	.wrap{
		padding-left: 10%;
		padding-right: 10%;
	}
}
.definitions h5 {
	a, a:visited {
  color: #D0A059;
  font-size: 1.1em;
	}
}
div.pagination {
	float: right;
}
.show {
	display: flex;
	flex-direction: column;
}
.show-a {
	display: flex;
	flex: 1;
}
.show-margin{
	flex: 1;
}
.show-heading {
	flex: 6;
	h5{
	font-size: 3em;
	color: #FFD059;
	margin-bottom: 50px;
	}
}
.show-b {
	display: flex;
	flex: 1;
}
.show-votes {
	display: flex;
	flex-direction: column;
	flex: 1;
	p {
		text-align: center;
	}
}
.show-definitions {
 	flex: 6;
}
.edit {
	display: inline-block;
	margin-right: 10px;
}
.nav-tabs .nav-link {
	width: 350px;
	h5, h6 {
		display: inline-block;
	}
	h5 { 
		padding: 0px 4px 0px 4px;
	}
}
.fields {
	margin-top: 50px;
}
.upper-margin {
	margin-top: 50px;
}

#chartdiv{
	height: 200px;
	padding-bottom: 155px;
}
.overlay {
	-webkit-text-stroke: .5px white;
}
.box {
form {
	a{
		padding-right: 8px !important;
	}
	display: flex;
	}
}
.round-btn-outline-success {
    color: #5cb85c;
    background-image: none;
    background-color: transparent;
    border-color: #5cb85c !important;
    width: 38px !important;
    margin-right: 8px;

}
.round-btn {
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5rem;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
nav div {
    margin-right: 40px;
    padding-left: 30px;
  .round-btn {
  	min-width: 38px;
  }
}
.pagination {
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-danger;
  .form-control {
    color: $state-danger-text;
  }
}
.btn-secondary {
	background-color: #FFD059;
}
.css1 { color: #166616; }
.css2 { color: #41a041; }
.css3 { color: #74c974; }
.css4 { color: #9bdd9b; }

.tag {
    height: 28px;
    font-size: 12px;
    line-height: 18px;
    display: block;
    margin-top: 5px;
    padding: 5px 15px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(231, 231, 231);
    border-image: initial;
    border-radius: 14px;
}
button#dropdownMenuButton.btn-secondary{
	background: transparent;
	border-color: transparent !important;
	font-size: 1.5em;
}
.dropdown-toggle:focus {
   box-shadow: none !important;
}
.show > .dropdown-menu {
	width: 195px !important; /*this definitely works*/
 ul {
 	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	}
}

li.dropdown-item{
/*	flex-grow: 1; */	
	padding: 5px;
	margin: 5px;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: #5CB85C;
  display: flex;
  align-items: center;
  justify-content: center;
	a {
		font-family: 'Montserrat Subrayada', sans-serif;
		color: #FFFFFF;
    text-decoration: none;
	}
}
/*.dropdown-item:focus, .dropdown-item:hover {
    color: #5CB85C;
    text-decoration: none;
    background-color: white;
}*/
nav div li.dropdown-item a:visited {
    color: #FFFFFF;
    text-decoration: none;
}
 nav div li.dropdown-item a:hover {
	  color: #5CB85C;
    text-decoration: none;
}