body {

}
.band {
	display: flex;
  flex-wrap: wrap;
}

.two{


	flex: 1;
	display: flex;
	flex-direction: column;
	min-width: 300px;
	h5 {
		font-size: 3em;
	}

}
.three{
	flex: 8;
	display: flex;
	flex-direction: column;
	padding: 20px;
	min-width: 400px;
}
.three-b{
	display: flex;
}
.votes{
	flex: 1;
}
.definitions{
	flex: 6;
}
h5 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
.centered {
	align-items: center;
  justify-content: center;
}
.box {
	display: flex;
	flex-direction: column;
}
.box-1{
	flex: 1;
	order: 2;
}
.box-2{
	flex: 2;
	order: 1;
}
.links {
  display: inline-block;
  padding: 3px;
  color: #909090;
  font-size: 14px;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.attribute {
  padding: 3px;
  color: #909090;
  font-size: 14px;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.navbar {
	background-color:  #F5F5F5;
}
.honeycomb{
	height: 7px;
	background:
	radial-gradient(circle farthest-side at 0% 50%,#fb1 23.5%,rgba(240,166,17,0) 0)21px 30px,
	radial-gradient(circle farthest-side at 0% 50%,#B71 24%,rgba(240,166,17,0) 0)19px 30px,
	linear-gradient(#fb1 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#fb1 0)0 0,
	linear-gradient(150deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
	linear-gradient(30deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
	linear-gradient(90deg,#B71 2%,#fb1 0,#fb1 98%,#B71 0%)0 0 #fb1;
	background-size:20px 30px;
	background-position: 0 -2px;
	opacity: 0.7;
	margin-bottom: 20px;

}