<nav class="navbar navbar-toggleable-md navbar-light bg-faded ">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div nav-brand centered>
    <h5>CodeUp Club</h5>
    <h4 class="sub">Dictionary</h4>
  </div>
  <div class="collapse navbar-collapse vert-centered" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <div class="box">
      <form class="form-inline my-2 my-lg-0 box-1">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <div class="box-2">
        <% if user_signed_in? %>
          <a><%= link_to 'Log Out', destroy_user_session_path, class: "links" %></a>
          <a><%= link_to 'Edit Account', edit_user_registration_path, class: "links" %></a>
        <% else %>
          <a><%= link_to 'Sign Up', new_user_registration_path, class: "links" %></a>
          <a><%= link_to 'Sign In', new_user_session_path, class: "links" %></a>
        <% end %>
      </div>
    </div>
  </div>
</nav>